name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # 1. Go to your project folder on the server
            cd /home/ec2-user/Lunar_View_
            
            # 2. Get the latest code
            git pull origin main
            
            # 3. Install dependencies
            npm install
            
            # 4. Build the app
            npm run build
            
            # 5. Restart the server
            pm2 restart nextjs-app